* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: hsl(227, 12%, 53%);
  color: #f7f0f2ea;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
 
}